@import './normalize.css';
@import './reset.css';

@font-face {
    font-family: 'Helvetica LT Std Light';
    src: url('./fonts/HelveticaLTStd-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Light';
    src: url('./fonts/FuturaPT-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Medium';
    src: url('./fonts/FuturaPT-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@media (min-width: 1024px) {
    .uppy-Dashboard-inner {
        max-width: 1024px !important;
        max-height: 30vh !important;
        margin: 0 auto;
    }
}

.uppy-Dashboard-inner {
    width: 100% !important;
    height: 35vh !important;
}

.uppy-DashboardTab-btn {
    margin-bottom: 80px;
}

.uppy-Dashboard-AddFiles {
    height: fit-content;
}

.uppy-DashboardTab {
    border-bottom: none;
}

.uppy-DashboardTab-btn {
    padding: 0;
}

.uppy-Dashboard-AddFiles {
    border: none !important;
}

.uppy-StatusBar-actionBtn--upload {
    display: block;
    width: 345px;
    height: 50px;
    background: #3300CC !important;
    border: none !important;
    border-radius: 50px;
    margin: 0;
    padding: 14px 0;
    font-family: 'Futura PT Medium', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 2;
}

.uppy-DashboardTab-btn {
    width: unset;
}

.uppy-Dashboard-inner {
    background: #FFFFFF !important;
}

.uppy-size--height-md .uppy-Dashboard-AddFiles-info {
    display: none;
}

.uppy-size--md .uppy-Dashboard-AddFiles-title {
    font-size: 1px;
    color: #3300CC;
    display: block;
    width: 345px;
    height: 50px;
    margin: 20px auto 0;
    padding: 14px 0;
    font-family: 'Futura PT Light', serif;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    text-align: center;
    background: #3300CC;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.uppy-size--md .uppy-Dashboard-AddFiles-title button {
    font-size: 22px;
    width: 345px;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    border: none;
    color: #fff;
}

.uppy-Dashboard-AddFiles-list {
    display: none;
}

.uppy-Dashboard-AddFiles-title button {
    font-size: 16px;
}

.uppy-Dashboard-browse:focus, .uppy-Dashboard-browse:hover {
    border-bottom: none;
}

@media (max-width: 578px) {
    .uppy-Dashboard-AddFiles-title {
        font-size: 1px;
        color: #3300CC;
        display: block;
        width: 345px;
        height: 50px;
        margin: 20px auto 0;
        padding: 14px 0;
        font-family: 'Futura PT Light', serif;
        font-style: normal;
        font-weight: 500;
        line-height: 23px;
        text-align: center;
        background: #3300CC;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .uppy-Dashboard-inner {
        background: #FFFFFF !important;
    }

    .uppy-Dashboard-AddFiles-title button {
        font-size: 18px;
        width: 345px;
        height: 50px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        border: none;
        color: #fff;
    }

    .uppy-Dashboard-browse:focus, .uppy-Dashboard-browse:hover {
        border-bottom: none;
    }
}

/*body {*/
/*    overflow: hidden;*/
/*}*/